table#custom {
    border: 1px solid blueviolet;
    height: auto;
    width: auto;
    padding-right: 10px;
    padding-left: 10px;
    font-size: larger;
    font-weight: bold;
    background: wheat;
    display: table-row-group;
}
tr {
    border: 1px solid;
    font-weight: bolder;
    font-size: x-large;
}
td {
    border: 1px solid black;
    padding-right: 10px;
    padding-left: 20px;
    displal: block;
}
th {
    border: 1px solid black;
    font-family: cursive;
}
div#editUserForm {
    border: 1px solid red;
}
